<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unisguard.webapi.mapper.role.RoleMapper">
  <resultMap id="resultMap" type="com.unisguard.webapi.common.dataobject.role.RoleDO">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="type" property="type" />
    <result column="status" property="status" />
    <result column="update_time" property="updateTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_user_name" property="updateUserName" />
    <result column="description" property="description" />
  </resultMap>
  <select id="list" parameterType="com.unisguard.webapi.common.dataobject.role.RoleDO" resultMap="resultMap">
    select id,name,type,status,update_time,update_user_id,description
    from t_role
    <where>
      status !=9
      <if test="id != null and id != 0">
      and  id = #{id}
      </if>
      <if test="name != null and name !=''">
        and name like concat('%',#{name},'%')
      </if>
      <if test="type != null and type !=0">
        and type = #{type}
      </if>
      <if test="status != null and status !=0">
        and status = #{status}
      </if>
      <if test="updateTime != null">
        and  update_time = #{updateTime}
      </if>
      <if test="updateUserId != null">
        and update_user_id = #{updateUserId}
      </if>
      <if test="description != null and description !=''">
        and description = #{description}
      </if>
    </where>
    order by id desc
  </select>
  <insert id="add" keyProperty="id" parameterType="com.unisguard.webapi.common.dataobject.role.RoleDO" useGeneratedKeys="true">
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="detail" parameterType="java.lang.Long" resultMap="resultMap">
    select r.id,r.name,r.type,r.status,r.update_time,r.update_user_id,r.description,u.name as update_user_name
    from t_role r left join t_user u on r.update_user_id = u.id
    where r.id = #{id}
  </select>
  <update id="edit" parameterType="com.unisguard.webapi.common.dataobject.role.RoleDO">
     update t_role
    <set>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="delete" parameterType="java.lang.Long">
    update t_role
    set
    status = 9
        where id = #{id}
  </update>

  <select id="all" parameterType="com.unisguard.webapi.common.dataobject.role.RoleDO" resultMap="resultMap">
    select id,name,type,status,update_time,update_user_id,description
    from t_role
    where status !=9
    order by id desc
  </select>

  <select id="checkName" parameterType="java.lang.String" resultMap="resultMap">
    select id,name
    from t_role where status != 9
    and name = #{name}
  </select>

  <update id="updateStatus" parameterType="com.unisguard.webapi.common.dataobject.role.RoleDO">
    update t_role
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryNameByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
    select a.name
    from t_role a
    inner join t_user_role b on a.id = b.role_id
    where b.user_id = #{userId}
  </select>
</mapper>
